@font-face{ 
  font-family: "Railway";
  src: url("../fonts/Railway-webfont.eot");
  src: url("../fonts/Railway-webfont.svg") format("woff"),
       url("../fonts/Railway-webfont.ttf") format("truetype"),
       url("../fonts/Railway-webfont.svg") format("svg");
}
html {
  font-family: "Railway";
}
a {
  text-decoration: none;
	font-style: normal;
  font-size: 1em;
}

/* Header style */
header {
  display: flex;
  justify-content: space-between;
}
nav {
  display: flex;
  justify-content: space-evenly;
}
#logo {
  margin: 0.5em 0.5em;
  width: 10%;
  height: auto;
}
.btn_nav1 {
  font-size: 1em;
  padding: 1.5em 1.75em;
  color: #0065FC;
}
.btn_nav2 {
  font-size: 1em;
  padding: 1.5em 1.75em;
  color: #000000;
}
.btn_nav3 {
  font-size: 1em;
  font-weight: bold;
  padding: 1.5em 1.75em;
  color: #0065FC;
}
.btn_nav1:hover, .btn_nav3:hover{
  border-top: solid 0.2em #0065FC;
}
.btn_nav2:hover{
  border-top: solid 0.2em #000000;
}

/* Filters section */
#filters{
  display: flex;
  flex-direction: column;
}
.box1{
  margin: 0.3em 0.5em;
}
h1{
  font-size: 1.5em;
  font-weight: 500;
}
.reg_text {
  font-style: normal;
  font-size: 1em;
  padding: 0.2em 0.2em;
}
#search_item {
  display: flex;
  flex-direction: row;
	margin-left: 1em;
}
#location_icon{
  align-self: center;
  padding: 1em;
  background-color: #F2F2F2;
  border: 0.2em solid #F2F2F2;
  border-top-left-radius: 1em;
  border-bottom-left-radius: 1em;
}
#search_bar{
  border: 0.2em solid #F2F2F2;
  border-top-right-radius: 1em;
  border-bottom-right-radius: 1em;
  min-width: 280px;
}
#filter_text{
  align-self: center;
  padding: 0.5em 1em;
  font-size: 1em;
}
#search_button{
  font-size: 1em;
  font-weight: normal;
  background-color: #0065FC;
  color: #FFFFFF;
  padding: 1em;
  position: relative;
  left: -1em;
  border: 0.2em solid #0065FC;
  border-top-right-radius: 1em;
  border-bottom-right-radius: 1em;
}
#filter_options{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.filter{
  padding: 1.5em 0em 1.5em 0em;
}
.icon{
  align-self: center;
  padding: 0.6em;
  color: #0065FC;
  background-color: #DEEBFF;
  border: 0.1em solid #DEEBFF;
  border-radius: 50%;
  position: relative;
  left: 2.5em;
}
.filter_button{
  text-decoration: none;
  font-size: 1em;
  color: #000000;
  font-weight: normal;
  padding: 0.6em 0.6em 0.6em 2.5em;
  border: 0.2em solid #F2F2F2;
  border-radius: 2em;
}
.filter_button:hover{
  text-decoration: none;
  font-size: 1em;
  background-color: #0065FC;
  color: #FFFFFF;
  font-weight: normal;
  padding: 0.6em 0.6em 0.6em 2.5em;
  border: 0.2em solid #F2F2F2;
  border-radius: 2em;
  transition: 700ms ease;
}
.filter:hover .icon{
  align-self: center;
  padding: 0.6em;
  color: #000000;
  background-color: #F2F2F2;
  border: 0.1em solid #F2F2F2;
  border-radius: 50%;
  position: relative;
  left: 2.5em;
  transition: 700ms ease;
}
#available_places{
  padding: 0em;
}
.mini_icon{
  font-size: 0.75em;
  align-self: center;
  padding: 0.5em 0.5em 0.5em 0.7em;
  margin: 1em;
  color: #0065FC;
  background-color: #FFFFFF;
  border: 0.1em solid #F2F2F2;
  border-radius: 50%;
}
/* Main content style*/
.box2{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 0.3em 0.5em;
  padding: 0.5em;
}
h2{
  font-size: 1.2em;
  font-weight: 400;
}
#populars{
  order: 2;
  background-color: #F2F2F2;
	margin: 0.5em;
	flex-grow: 1;
}
#places{
	display: flex;
	flex-direction: column;
  order: 1;
	flex-grow: 4;
  background-color: #F2F2F2;
  margin: 0.5em;
}
.block_cards{
	display: flex;
	flex-direction: row;
}
.place_card{
	display: flex;
	flex-direction: column;
}
.pop_card{
	display: flex;
	flex-direction: row;
}
#activities{
  display: flex;
  flex-direction: column;
	padding: 1em;
	margin: 0.8em 1em;
}
footer{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly ;
  flex-wrap: wrap;
  background-color: #F2F2F2;
}